:root{
  --button-border-width: 10px;
  --dark-blue: rgb(19, 63, 195);
  --duration-rotation: 0.2s;
}

body{
  height: 98vh;
  width: 98vw;
  background-image: url("images/background-memorygame.jpg");
  background-size: 100% 100%;
  background-color: aliceblue;
}

@keyframes fade-in{
  0%{opacity: 0%;}
  25%{opacity: 25%;}
  50%{opacity: 50%;}
  75%{opacity: 75%;}
  100%{opacity: 100%;}
}

@keyframes fade-out{
  0%{opacity: 100%;}
  25%{opacity: 75%;}
  50%{opacity: 50%;}
  75%{opacity: 25%;}
  100%{opacity: 0%;}
}

.show-card-contain-part1{
  animation: show-contain var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -webkit-animation: show-contain var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -ms-animation: show-contain var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -moz-animation: show-contain var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -o-animation: show-contain var(--duration-rotation) ease-in-out 0s 1 normal forwards;
}

.show-card-contain-part2{
  animation: show-contain-reverse var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -webkit-animation: show-contain-reverse var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -ms-animation: show-contain-reverse var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -moz-animation: show-contain-reverse var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -o-animation: show-contain-reverse var(--duration-rotation) ease-in-out 0s 1 normal forwards;
}

@keyframes show-contain{
  0%{transform: scaleX(1);}
  50%{transform: scaleX(0.5);}
  100%{transform: scaleX(0);}
}

@keyframes show-contain-reverse{
  0%{transform: scaleX(0);}
  50%{transform: scaleX(0.5);}
  100%{transform: scaleX(1);}
}

.turn-card-back-part1{
  animation: turn-back-part1 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -webkit-animation: turn-back-part1 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -ms-animation: turn-back-part1 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -moz-animation: turn-back-part1 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -o-animation: turn-back-part1 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
}

.turn-card-back-part2{
  animation: turn-back-part2 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -webkit-animation: turn-back-part2 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -ms-animation: turn-back-part2 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -moz-animation: turn-back-part2 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
  -o-animation: turn-back-part2 var(--duration-rotation) ease-in-out 0s 1 normal forwards;
}

@keyframes turn-back-part1{
  0%{transform: scaleX(1);}
  50%{transform: scaleX(0.5);}
  100%{transform: scaleX(0);}
}

@keyframes turn-back-part2{
  0%{transform: scaleX(0);}
  50%{transform: scaleX(0.5);}
  100%{transform: scaleX(1);}
}

@media only screen and (max-width: 1000px) {
  .grid{
    left: 1vw;
    right: 1vw;
  }

  .card{
    width: 15vw;
  }
}
