.message-hidden{
  display: none;
  position: fixed;
  top: 20vh;
  left: 40vw;
  right: 40vw;
  height: 25vh;
  z-index: 100;
  border-style: groove;
  border-radius: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  text-align: center;
  opacity:0.9;
}

.message-win{
  display: block;
  background-color: var(--green-background);
  border-color: var(--green-border);
  color: var(--green-border);
}

.message-lose{
  display: block;
  background-color: var(--red-background);
  border-color: var(--red-border);
  color: var(--red-border);
}

.message-fade-in{
  animation: message-fade-in 0.4s ease-in-out 0s 1 normal forwards;
  -webkit-animation: message-fade-in 0.4s ease-in-out 0s 1 normal forwards;
  -ms-animation: message-fade-in 0.4s ease-in-out 0s 1 normal forwards;
  -moz-animation: message-fade-in 0.4s ease-in-out 0s 1 normal forwards;
  -o-animation: message-fade-in 0.4s ease-in-out 0s 1 normal forwards;
}

@keyframes message-fade-in {
  0%{opacity: 0%;}
  25%{opacity: 25%;}
  50%{opacity: 50%;}
  75%{opacity: 75%;}
  100%{opacity: 100%;}
}

.message-fade-out{
  animation: message-fade-out 0.4s ease-in-out 0s 1 normal forwards;
  -webkit-animation: message-fade-out 0.4s ease-in-out 0s 1 normal forwards;
  -ms-animation: message-fade-out 0.4s ease-in-out 0s 1 normal forwards;
  -moz-animation: message-fade-out 0.4s ease-in-out 0s 1 normal forwards;
  -o-animation: message-fade-out 0.4s ease-in-out 0s 1 normal forwards;
}

@keyframes message-fade-out {
  0%{opacity: 100%;}
  25%{opacity: 75%;}
  50%{opacity: 50%;}
  75%{opacity: 25%;}
  100%{opacity: 0%;}
}

.emoji{
  margin-top: 10%;
  font-size: 2em;
}

.message-close-btn{
  position:absolute;
  top:-20px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  padding-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-weight: 800;
  opacity: 0.9;
  cursor: pointer;
  transition: border-style 1s, opacity 1s;
}

.message-close-btn-win{
  background-color: var(--green-background);
  border-color: var(--green-border);
  color: var(--green-border);
}

.message-close-btn-lose{
  background-color: var(--red-background);
  border-color: var(--red-border);
  color: var(--red-border);
}

.message-close-btn:hover{
  border-style: dashed;
  opacity:1;
}
