.grid{
  position: fixed;
  left:30vw;
  top: 15vh;
  border: 15px double rgb(29, 224, 110);
  background-color: rgba(83, 175, 250, 0.75);
  border-radius: 20px;
  height: 60vh;
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  z-index: 50;
}

.grid div{
  height: 6vh;
  width: 5vw;
}

.l1, .l2, .l3{
  background-image: url('../images/wood.png');
  background-size: 100% 100%;
  background-color: lightblue;
} 

.l1.frog-position, .l2.frog-position, .l3.frog-position{
  background-image: url('../images/frog.png'), url('../images/wood.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%, 100% 100%;
  background-color: lightblue;
}

.l4, .l5{
  background-color: lightblue;
}

.car-left.c1{
  background-image: url('../images/left-car.png');
  background-size: 96% 100%;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: gray;
}


.car-right.c1{
  background-image: url('../images/right-car.png');
  background-size: 96% 100%;
  background-color: gray;
  background-repeat: no-repeat;
  
}

.car-left.c1.frog-position{
  background-image: url('../images/left-car.png'), url('../images/frog.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%, 70% 70%;
  background-color: gray;
}

.car-right.c1.frog-position{
  background-image: url('../images/right-car.png'), url('../images/frog.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%, 70% 70%;
  background-color: gray;
}

.c2, .c3, .cx{
  background-color: gray;
}

.cx{
  background-image: url('../images/line_street.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cx.frog-position{
  background-image: url('../images/frog.png'), url('../images/line_street.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%, 100% 100%;
}

.frog-position{
  background-image: url('../images/frog.png');
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.ending-block{
  background-image: url('../images/lily_flower.png');
  background-size: 100% 100%;
}

.ending-block.frog-position{
  background-image: url('../images/frog.png'), url('../images/lily_flower.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 70% 70%, 100% 100%;
}

.starting-block{
  background-image: url('../images/water_lily.png');
  background-size: 100% 100%;
}

.starting-block.frog-position{
  background-image: url('../images/frog.png'), url('../images/water_lily.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%, 100% 100%;
}