.help-panel{
  display: none;
  position: fixed;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  z-index: 120;
  border-color:rgb(9, 174, 174);
  border-width: 10px;
  border-radius: 20px;
  border-style: double;
  color:rgb(49, 134, 106);
  font-weight: 600;
  background-color: rgba(147, 223, 193,0.94);
}

.help-panel-shown{
  display: block;
  opacity: 0%;
  animation: fade-help-panel-in var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -webkit-animation: fade-help-panel-in var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -ms-animation: fade-help-panel-in var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -moz-animation: fade-help-panel-in var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -o-animation: fade-help-panel-in var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
}

@keyframes fade-help-panel-in{
  0%{opacity: 0%;}
  50%{opacity:50%;}
  100%{opacity:100%;}
}

.help-panel-hide{
  display: block;
  opacity: 100%;
  animation: fade-help-panel-out var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -webkit-animation: fade-help-panel-out var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -ms-animation: fade-help-panel-out var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -moz-animation: fade-help-panel-out var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
  -o-animation: ffade-help-panel-out var(--help-fade-duration) ease-in-out 0s 1 normal forwards;
}

.help-panel-close-btn{
  position: absolute;
  top:-20px;
  right:-20px;
  border-radius: 30%;
  border-color: rgba(239, 58, 58, 0.896);
  border-width: 4px;
  border-style: solid;
  background-color: rgb(255, 128, 128);
  color:rgb(212, 1, 1);
  font-family: var(--used-font);
  font-size: 1em;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  transition: border-style 0.4s, border-width 0.3s;
}

.help-panel-close-btn:hover{
  border-style: double;
}

.help-panel-close-btn:active{
  border-style: solid;
  border-width: 6px;
}

.help-panel h2{
  font-size: 2.5em;
  margin-left: 10px;
  margin-right: 5px;
}

.help-panel p, .help-panel ul{
  font-size: 1.5em;
  margin-left: 0.5em;
}

.paragraph-list{
  margin-bottom: 0px;
}

.help-panel ul{
  margin-top: 0px;
}


.little-image{
  height: 1.5em;
  width: 1.5em;
  object-fit: fill;
}

.big-image{
  margin: 1em;
  margin-bottom: 0;
  height: 2.5em;
  width: 3.5em;
  object-fit: fill;
}

@keyframes fade-help-panel-out{
  0%{opacity: 100%;}
  50%{opacity:50%;}
  100%{opacity: 0%;display:none;}
}